/*  
-------------------------------
    Palette de couleurs
-------------------------------
*/ 
.primaryBackgroundColor {
  background : #16a085 !important;
}

.primaryColor {
 color : #16a085 !important; 
}

/*  
-------------------------------
    CSS général
-------------------------------
*/
body {
  margin: 0;
  min-height: 100%;
}

input:focus {
    border-color:#16a085 !important;
    box-shadow:0 0 10px #16a085 !important;
}

/*  
-------------------------------
    Login 
-------------------------------
*/ 

.loginBox{
  position: relative;
  top: 50%;
  transform: translateY(150%);
}

.loginBoxContent{
  background-color: #edeff1;
  border-radius: 10px;
  padding:35px;
}

.boutonValiderLogin{
  color:white !important;
  font-weight: bold !important;
}

.loginIcon{
    position: absolute;
    top: 45px;
    right: 50px;
    font-size: 18px;
    color: #bfc9ca;
}

.passwordIcon{
    position: absolute;
    top: 93px;
    right: 52px;
    font-size: 18px;
    color: #bfc9ca;
}

.imageLogin {
}
